.example-container
{
    margin: rem(50px) 0;
    h1
    {
        text-align: center;
        margin: 0 0 20px;
    }
}
#ArtistsSearch
{
    margin: 50px 0 0;
}
.search-field__wrapper
{
    form
    {
        display: flex;
        align-items: center;
        margin: 0 0 40px;
    }
    ul
    {
        li
        {
            margin: 0 0 20px;
            &:last-child
            {
                margin: 0;
            }
        }
    }
}