@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './additional/reset';
@import './additional/mixins';
@import './additional/header/header';
@import './additional/animations/pages-transition';

*
{
	-webkit-appearance: none;
	border-radius: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-overflow-scrolling: touch;
}
body
{
	display: flex;
	flex-wrap: wrap;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	margin: 0 auto;
	min-height: 100vh;
	width: 100%;
}
b
{
	font-weight: 600;
}
main
{
	display: block;
	min-height: calc(100vh - 66px);
	width: 100%;
}
.wrapper
{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
}
.content
{
	&__divider
	{
		&_horizontal
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}
.page-content__container
{
	padding: 50px 0;
	h1
	{
		margin: 0 0 20px;
		text-align: center;
	}
	p
	{
		margin: 0 0 20px;
		text-align: center;
	}
}

@import './additional/search/SearchField';
@import 'additional/artistPage/albumsPage';
@import './additional/footer/footer';
