.header__container
{
	align-self: flex-end;
	background-color: rgb(88, 209, 243);
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	.content__divider_horizontal
	{
		align-items: center;
		height: 85px;
	}
	ul
	{
		align-items: center;
		display: flex;
		justify-content: center;
		li
		{
			margin: 0 15px 0 0;
		}
		.active
		{
			span
			{
				border-color: rgba(255, 255, 255, 0.5);
			}
		}
		a
		{
			align-items: center;
			color: black;
			display: flex;
			font-size: 18px;
			text-decoration: none;
			&:hover
			{
				span
				{
					border-color: rgba(255, 255, 255, 0);
				}
				svg
				{
					height: 30px;
					width: 30px;
				}
			}
			svg
			{
				border: 1px solid #FFFFFF;
				border-radius: 50%;
				height: 25px;
				margin: 0 5px 0 0;
				padding: 5px;
				transition: 0.3s;
				width: 25px;
			}
			span
			{
				border-bottom: 1px solid transparent;
				color: #FFFFFF;
				transition: border-color 0.5s;
			}
		}
	}
}
.header
{
	&__button
	{
		&_phone-call
		{
			align-items: center;
			border: 1px solid #FFFFFF;
			border-radius: 50%;
			display: flex;
			opacity: 1;
			padding: 5px;
			transform: scale(1);
			transition: 0.3s;
			&:hover
			{
				opacity: 0.8;
				transform: scale(1.2);
			}
			span
			{
				display: flex;
			}
			svg
			{
				height: 25px;
				width: 25px;
			}
		}
	}
}
